{{!--
<meta http-equiv="refresh" content="1" /> --}}

<head>
  <style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <div class="col-sm-10">
    <h2>Data:</h2>
    <table id="dataTable">
      <thead>
        <tr>
          {{#each keys}}
          <th><a href="/db/{{../dbName}}/tables/{{../tableName}}/data/{{this}}"><span
                style="text-transform:uppercase">{{this}}</span></a></th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each dataList}}
        <tr>
          {{#each ../keys}}
          <td>{{lookup .. this}}</td>
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button id="prevButton">Previous</button>
    <button id="nextButton">Next</button>
  </div>
</body>